.code-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 1.2rem;

     font-weight: 700;     /* 100 400 (normal) - 700 (bold) 900 */

     text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

     text-align: center;
}

.code-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 0.6rem;  /* 16px default */

    font-weight: 400;  /* normal */

    line-height: 1.4; /* for readability */
    
    color: rgb(21, 5, 120);

}