
body {
    background-color: lightgray;
}

/* Containers */
.container {
    border: 1px solid black;
    width: 80%;
}

.container-fluid {
    border: 1px solid black;
    width: 90%;
}

.aueb-text {
    color: antiquewhite;
    font-size: 2rem;
    font-weight: bold;
}


/* Background Colors */
.bg-dark {
    background-color: black;
}

.bg-primary {
    background-color: blue;
}

/* Text Color */

.text-white {
    color: white;
}

/* Image Styling */
.icon-small {
    width: 300px;
    height: auto;
}

/* List Styling */
.courses-wrapper > :first-child {
    font-weight: bold;
    color: red;
}

.courses-wrapper > :last-child {
    color: blue;
}

.courses-list > :nth-child(odd) {
    color: red;
}

.courses-list > :nth-child(even) {
    color: white;
}